{{#if env.APP.IS_RENTALS}}
  <h2>EZR</h2>
{{else}}
  <h2>EZO</h2>
{{/if}}

<div class="pull-to-refresh-layer">
  <div class="preloader"></div>
  <div class="pull-to-refresh-arrow"></div>
</div>

<div class="list-block media-list">
  <ul>
    {{yield}}
  </ul>
  <div class="list-block-label">
    <p>Just pull page down to let the magic happen.</p>
  </div>
</div>
