<!-- Views -->
<div class="views">
  <!-- Your main view, should have "view-main" class -->
  <div class="view view-main">
    <!-- Pages container, because we use fixed navbar and toolbar, it has additional appropriate classes-->
    <div class="pages navbar-fixed toolbar-fixed">
      <!-- Page, "data-page" contains page name -->
      <div data="index" class="page">

        <!-- Top Navbar. In Material theme it should be inside of the page-->
        <div class="navbar">
          <div class="navbar-inner">
            <div class="center">Whats App Messenger</div>
          </div>
        </div>

        <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
        <div class="toolbar toolbar-bottom">
          <div class="toolbar-inner">
            <a href="#tab-1" class="link">Faizan</a>
            <a href="#tab-2" class="link">meray</a>
            <a href="#tab-3" class="link">dhost</a>
            <a href="#tab-1" class="link">kaisay ho</a>
          </div>
        </div>

        <!-- Scrollable page content -->
        <div class="page-content pull-to-refresh-content">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
