{{#pull-to-refresh action="dosomethingplz"}}
  {{#each model as |asset|}}
    <li class="item-content">
      <div class="item-media"><img src="http://hhhhold.com/88/d/jpg?1" width="44"></div>
      <div class="item-inner">
        <div class="item-title-row">
          <div class="item-title">{{asset.name}}</div>
        </div>
        <div class="item-subtitle">{{asset.description}}</div>
      </div>
    </li>
  {{/each}}
{{/pull-to-refresh}}
